* {
    box-sizing: border-box;
}
body {
    height: 100vh;

}

a {
    text-decoration: none;
    display: inline-block;
    padding-right: 2rem;
}

.navbar-topleft{
    position: absolute;
    top:0;
    left:0;
    margin: 2rem;
    

}
.navbar-topright{
    position: absolute;
    top:0;
    right:0;
    margin: 2rem;
}

.middle-logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
    padding-left: 5rem;
}

.navbar-bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
}
.navbar-bottomleft a {
    padding-left: 1rem;
}
.navbar-bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

#searchbar {
    display: block;
    width:30rem;
    height: 2rem;
}

.btn {
    margin-top: 2rem;
    height: 2.5rem;
    
}

.btn2 {
    margin-left: 2rem;
}

.btndiv {
    margin: auto;
  width: 100%;

  text-align: center;
}